<div class="suggestion-box section-t-space">
    <div class="card-title">
        <h3>friend suggestion</h3>
        <div class="settings">
            <div class="setting-btn">
                <a href="#" class="d-flex">
                    <i class="icon icon-theme stroke-width-3 iw-11 ih-11" data-feather="rotate-cw"></i>
                </a>
            </div>
            <div class="setting-btn setting-dropdown ms-2">
                <div class="btn-group custom-dropdown arrow-none dropdown-sm">
                    <a href="#" class="d-flex" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="icon icon-theme stroke-width-3 iw-11 ih-11" data-feather="sun"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right custom-dropdown">
                        <ul>
                            <li>
                                <a href=""><i class="icon-font-light iw-16 ih-16" data-feather="user"></i>see all</a>
                            </li>
                            <li>
                                <a href=""><i class="icon-font-light iw-16 ih-16" data-feather="search"></i>find
                                    friends</a>
                            </li>
                            <li>
                                <a href=""><i class="icon-font-light iw-16 ih-16"
                                        data-feather="settings"></i>settings</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="suggestion-content ratio_115">
        <div class="slide-2 no-arrow default-space">
            <div>
                <div class="story-box">
                    <div class="adaptive-overlay pink-overlay"></div>
                    <div class="story-bg">
                        <img src="/assets/images/story/2.jpg" class="img-fluid bg-img" data-adaptive-background='1'
                            alt="">
                    </div>
                    <div class="story-content">
                        <h6>josephin water</h6>
                        <span>active now</span>
                    </div>
                </div>
            </div>
            <div>
                <div class="story-box">
                    <div class="adaptive-overlay blue-overlay"></div>
                    <div class="story-bg">
                        <img src="/assets/images/story/7.jpg" class="img-fluid bg-img" data-adaptive-background='1'
                            alt="">
                    </div>
                    <div class="story-content">
                        <h6>josephin water</h6>
                        <span>active now</span>
                    </div>
                </div>
            </div>
            <div>
                <div class="story-box">
                    <div class="adaptive-overlay skin-overlay"></div>
                    <div class="story-bg">
                        <img src="/assets/images/story/1.jpg" class="img-fluid bg-img" data-adaptive-background='1'
                            alt="">
                    </div>
                    <div class="story-content">
                        <h6>josephin water</h6>
                        <span>active now</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>