<div class="modal fade mobile-full-width" id="shareModal" aria-labelledby="shareModal" tabindex="-1" role="dialog"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content share-modal">
            <div class="modal-header">
                <div class="setting-dropdown">
                    <div class="btn-group custom-dropdown arrow-none dropdown-sm">
                        <h5 data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">share as post <i
                                class="iw-14" data-feather="chevron-down"></i></h5>
                        <div class="dropdown-menu custom-dropdown">
                            <ul>
                                <li>
                                    <a href="">share as post</a>
                                </li>
                                <li>
                                    <a href="">on friend's feed</a>
                                </li>
                                <li>
                                    <a href="">in a group</a>
                                </li>
                                <li>
                                    <a href="">share as message</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <a href="#" data-bs-dismiss="modal" aria-label="Close">
                    <i data-feather="x" class="icon-light close-btn"></i></a>
            </div>
            <div class="modal-body">
                <div class="user-info">
                    <div class="media">
                        <a href="#" class="user-img">
                            <img src="/assets/images/user-sm/2.jpg" class="img-fluid blur-up lazyload bg-img"
                                alt="user">
                        </a>
                        <div class="media-body">
                            <a href="#">
                                <h5>Pabelo Mukrani</h5>
                            </a>
                            <div class="setting-dropdown">
                                <div class="btn-group custom-dropdown arrow-none dropdown-sm">
                                    <h6 data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="icon-font-light left-icon iw-12 ih-12" data-feather="globe"></i>public
                                        <i class="iw-14" data-feather="chevron-down"></i>
                                    </h6>
                                    <div class="dropdown-menu custom-dropdown">
                                        <ul>
                                            <li>
                                                <a href=""><i class="icon-font-light iw-16 ih-16"
                                                        data-feather="globe"></i>public</a>
                                            </li>
                                            <li>
                                                <a href=""><i class="icon-font-light iw-16 ih-16"
                                                        data-feather="users"></i>friends</a>
                                            </li>
                                            <li>
                                                <a href=""><i class="icon-font-light iw-16 ih-16"
                                                        data-feather="user"></i>friends
                                                    except</a>
                                            </li>
                                            <li>
                                                <a href=""><i class="icon-font-light iw-16 ih-16"
                                                        data-feather="user"></i>specific
                                                    friends</a>
                                            </li>
                                            <li>
                                                <a href=""><i class="icon-font-light iw-16 ih-16"
                                                        data-feather="lock"></i>only me</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="input-section">
                    <input type="text" class="form-control emojiPicker" placeholder="write a comment..">
                </div>
                <div class="post-section ratio2_1">
                    <div class="post-img">
                        <img src="/assets/images/post/1.jpg" class="img-fluid blur-up lazyload bg-img" alt="">
                    </div>
                    <div class="post-content">
                        <h3>Today Our Three Cute Puppy Dog Birthday !!!!</h3>
                        <h5 class="tag"><span>#ourcutepuppy,</span> #puppy, #birthday, #dog</h5>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-solid">share post</button>
            </div>
        </div>
    </div>
</div>