<div class="event-box section-t-space ratio2_3">
    <div class="image-section">
        <img src="/assets/images/event/1.jpg" class="img-fluid blur-up lazyload bg-img" alt="event">
        <div class="card-title">
            <h3>event</h3>
            <div class="settings">
                <div class="setting-btn">
                    <a href="#" class="d-flex">
                        <i class="icon icon-dark stroke-width-3 iw-11 ih-11" data-feather="rotate-cw"></i>
                    </a>
                </div>
                <div class="setting-btn ms-2 setting-dropdown">
                    <div class="btn-group custom-dropdown arrow-none dropdown-sm">
                        <a href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="icon-dark stroke-width-3 icon iw-11 ih-11" data-feather="sun"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right custom-dropdown">
                            <ul>
                                <li>
                                    <a href=""><i class="icon-font-light iw-16 ih-16" data-feather="edit"></i>remind
                                        me</a>
                                </li>
                                <li>
                                    <a href=""><i class="icon-font-light iw-16 ih-16"
                                            data-feather="settings"></i>setting</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="play-btn" data-bs-toggle="modal" data-bs-target="#videoPlayer">
            <img src="/assets/images/icon/play.png" class="img-fluid blur-up lazyload" alt="play">
        </div>
    </div>
    <div class="event-content">
        <h3>christmas 2021</h3>
        <h6>26 january 2021</h6>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry
            <span>15256 People Going</span>
        </p>
        <div class="bottom-part">
            <a href="#" class="event-btn">going / not going</a>
        </div>
        <a href="#" class="share-btn">
            <i class="icon-dark stroke-width-3 iw-14 ih-14" data-feather="corner-up-right"></i>
        </a>
    </div>
</div>