<div class="modal comment-model" id="imageModel" aria-labelledby="imageModel" tabindex="-1" role="dialog"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div>
                <div class="image-gallery">
                    <div class="row m-0">
                        <div class="col-xl-9 col-lg-8 p-0">
                            <a href="#" data-bs-dismiss="modal"><i data-feather="x"
                                    class="icon-light close-btn"></i></a>
                            <div class="slide-1 box-arrow dots-number">
                                <div>
                                    <div class="img-part">
                                        <img src="/assets/images/post/15.jpg" class="img-fluid blur-up lazyload" alt="">
                                    </div>
                                </div>
                                <div>
                                    <div class="img-part">
                                        <img src="/assets/images/post/16.jpg" class="img-fluid blur-up lazyload" alt="">
                                    </div>
                                </div>
                                <div>
                                    <div class="img-part">
                                        <img src="/assets/images/post/17.jpg" class="img-fluid blur-up lazyload" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 p-0">
                            <div class="comment-part">
                                <div class="user-detail">
                                    <div class="user-media">
                                        <div class="media">
                                            <a class="user-img">
                                                <img src="/assets/images/user-sm/1.jpg"
                                                    class="img-fluid blur-up lazyload bg-img" alt="user">
                                                <span class="available-stats"></span>
                                            </a>
                                            <div class="media-body">
                                                <h5 class="user-name">Paige Turner</h5>
                                                <h6>alabma, USA</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="setting-btn ms-auto setting-dropdown no-bg">
                                        <div class="btn-group custom-dropdown arrow-none dropdown-sm">
                                            <div role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                <i class="icon icon-font-color iw-14"
                                                    data-feather="more-horizontal"></i>
                                            </div>
                                            <div class="dropdown-menu dropdown-menu-right custom-dropdown">
                                                <ul>
                                                    <li>
                                                        <a href=""><i class="icon-font-light iw-16 ih-16"
                                                                data-feather="bookmark"></i>save
                                                            post</a>
                                                    </li>
                                                    <li>
                                                        <a href=""><i class="icon-font-light iw-16 ih-16"
                                                                data-feather="edit"></i>edit post</a>
                                                    </li>
                                                    <li>
                                                        <a href=""><i class="icon-font-light iw-16 ih-16"
                                                                data-feather="x-square"></i>hide
                                                            post</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-panel mb-0">
                                    <div class="post-wrapper">
                                        <div class="post-details">
                                            <div class="like-panel">
                                                <div class="left-emoji">
                                                    <ul>
                                                        <li>
                                                            <img src="/assets/svg/emoji/040.svg" alt="smile">
                                                        </li>
                                                        <li>
                                                            <img src="/assets/svg/emoji/113.svg" alt="heart">
                                                        </li>
                                                    </ul>
                                                    <h6>+75</h6>
                                                </div>
                                                <div class="right-stats">
                                                    <ul>
                                                        <li>
                                                            <h5>
                                                                <i class="iw-16 ih-16"
                                                                    data-feather="message-square"></i>
                                                                <span>4565</span> comment
                                                            </h5>
                                                        </li>
                                                        <li>
                                                            <h5>
                                                                <i class="iw-16 ih-16"
                                                                    data-feather="share"></i><span>985</span> share
                                                            </h5>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="post-react">
                                                <ul>
                                                    <li class="react-btn">
                                                        <a class="react-click" href="javascript:void(0)">
                                                            <i class="iw-18 ih-18" data-feather="smile"></i> react
                                                        </a>
                                                        <div class="react-box">
                                                            <ul>
                                                                <li data-title="smile">
                                                                    <a href="javascript:void(0)">
                                                                        <img src="/assets/svg/emoji/040.svg"
                                                                            alt="smile">
                                                                    </a>
                                                                </li>
                                                                <li data-title="love">
                                                                    <a href="javascript:void(0)">
                                                                        <img src="/assets/svg/emoji/113.svg"
                                                                            alt="heart">
                                                                    </a>
                                                                </li>
                                                                <li data-title="cry">
                                                                    <a href="javascript:void(0)">
                                                                        <img src="/assets/svg/emoji/027.svg" alt="cry">
                                                                    </a>
                                                                </li>
                                                                <li data-title="wow">
                                                                    <a href="javascript:void(0)">
                                                                        <img src="/assets/svg/emoji/052.svg"
                                                                            alt="angry">
                                                                    </a>
                                                                </li>
                                                                <li data-title="angry">
                                                                    <a href="javascript:void(0)">
                                                                        <img src="/assets/svg/emoji/039.svg"
                                                                            alt="angry">
                                                                    </a>
                                                                </li>
                                                                <li data-title="haha">
                                                                    <a href="javascript:void(0)">
                                                                        <img src="/assets/svg/emoji/042.svg" alt="">
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                    <li class="comment-click">
                                                        <a href="javascript:void(0)">
                                                            <i class="iw-18 ih-18" data-feather="message-square"></i>
                                                            comment
                                                        </a>
                                                    </li>
                                                    <li data-bs-target="#shareModal" data-bs-toggle="modal">
                                                        <a href="javascript:void(0)">
                                                            <i class="iw-16 ih-16" data-feather="share"></i> share
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="comment-section">
                                                <div class="comments d-block">
                                                    <div class="ldr-comments">
                                                        <ul>
                                                            <li>
                                                                <div class="media">
                                                                    <div class="ldr-img"></div>
                                                                    <div class="media-body">
                                                                        <div class="contents">
                                                                            <div class="ldr-content"></div>
                                                                            <div class="ldr-content"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <ul class="sub-comment">
                                                                    <li>
                                                                        <div class="media">
                                                                            <div class="ldr-img"></div>
                                                                            <div class="media-body">
                                                                                <div class="contents">
                                                                                    <div class="ldr-content"></div>
                                                                                    <div class="ldr-content"></div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            <li>
                                                                <div class="media">
                                                                    <div class="ldr-img"></div>
                                                                    <div class="media-body">
                                                                        <div class="contents">
                                                                            <div class="ldr-content"></div>
                                                                            <div class="ldr-content"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="media">
                                                                    <div class="ldr-img"></div>
                                                                    <div class="media-body">
                                                                        <div class="contents">
                                                                            <div class="ldr-content"></div>
                                                                            <div class="ldr-content"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="main-comment">
                                                        <div class="media">
                                                            <a href="#" class="user-img popover-cls"
                                                                data-bs-toggle="popover" data-placement="right"
                                                                data-name="Pabelo mukrani"
                                                                data-img="../assets/images/user-sm/2.jpg">
                                                                <img src="/assets/images/user-sm/2.jpg"
                                                                    class="img-fluid blur-up lazyload bg-img"
                                                                    alt="user">
                                                            </a>
                                                            <div class="media-body">
                                                                <a href="#">
                                                                    <h5>Pabelo Mukrani</h5>
                                                                </a>
                                                                <p>Oooo Very Cute and Sweet Dog, happy birthday
                                                                    Cuty.... &#128578;
                                                                </p>
                                                                <ul class="comment-option">
                                                                    <li><a href="#">like (5)</a></li>
                                                                    <li><a href="#">reply</a></li>
                                                                    <li><a href="#">translate</a></li>
                                                                </ul>
                                                            </div>
                                                            <div class="comment-time">
                                                                <h6>50 mins ago</h6>
                                                            </div>
                                                        </div>
                                                        <div class="sub-comment">
                                                            <div class="media">
                                                                <a href="#" class="user-img popover-cls"
                                                                    data-bs-toggle="popover" data-placement="right"
                                                                    data-name="sufiya elija"
                                                                    data-img="../assets/images/user-sm/3.jpg">
                                                                    <img src="/assets/images/user-sm/3.jpg"
                                                                        class="img-fluid blur-up lazyload bg-img"
                                                                        alt="user">
                                                                </a>
                                                                <div class="media-body">
                                                                    <a href="#">
                                                                        <h5>sufiya elija</h5>
                                                                    </a>
                                                                    <p>Thank You So Much ❤❤</p>
                                                                    <ul class="comment-option">
                                                                        <li><a href="#">like</a></li>
                                                                        <li><a href="#">reply</a></li>
                                                                        <li><a href="#">translate</a></li>
                                                                    </ul>
                                                                </div>
                                                                <div class="comment-time">
                                                                    <h6>50 mins ago</h6>
                                                                </div>
                                                            </div>
                                                            <div class="media">
                                                                <a href="#" class="user-img popover-cls"
                                                                    data-bs-toggle="popover" data-placement="right"
                                                                    data-name="sufiya eliza"
                                                                    data-img="../assets/images/user-sm/4.jpg">
                                                                    <img src="/assets/images/user-sm/4.jpg"
                                                                        class="img-fluid blur-up lazyload bg-img"
                                                                        alt="user">
                                                                </a>
                                                                <div class="media-body">
                                                                    <a href="#">
                                                                        <h5>sufiya elija</h5>
                                                                    </a>
                                                                    <p>Thank You So Much ❤❤</p>
                                                                    <ul class="comment-option">
                                                                        <li><a href="#">like</a></li>
                                                                        <li><a href="#">reply</a></li>
                                                                        <li><a href="#">translate</a></li>
                                                                    </ul>
                                                                </div>
                                                                <div class="comment-time">
                                                                    <h6>50 mins ago</h6>
                                                                </div>
                                                            </div>
                                                            <a href="javascript:void(0)" class="loader">
                                                                <i class="iw-15 ih-15" data-feather="rotate-cw"></i>
                                                                load more replies
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="main-comment">
                                                        <div class="media">
                                                            <a href="#" class="user-img popover-cls"
                                                                data-bs-toggle="popover" data-placement="right"
                                                                data-name="pabelo mukrani"
                                                                data-img="../assets/images/user-sm/2.jpg">
                                                                <img src="/assets/images/user-sm/2.jpg"
                                                                    class="img-fluid blur-up lazyload bg-img"
                                                                    alt="user">
                                                            </a>
                                                            <div class="media-body">
                                                                <a href="#">
                                                                    <h5>Pabelo Mukrani</h5>
                                                                </a>
                                                                <p>It’s party time, Sufiya..... and happy birthday
                                                                    cuty 🎉🎊
                                                                </p>
                                                                <ul class="comment-option">
                                                                    <li><a href="#">like</a></li>
                                                                    <li><a href="#">reply</a></li>
                                                                    <li><a href="#">translate</a></li>
                                                                </ul>
                                                            </div>
                                                            <div class="comment-time">
                                                                <h6>50 mins ago</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="reply">
                                                    <div class="search-input input-style input-lg icon-right">
                                                        <input type="text" class="form-control emojiPicker"
                                                            placeholder="write a comment..">
                                                        <a href="javascript:void(0)">
                                                            <i data-feather="smile" class="icon icon-2 iw-14 ih-14"></i>
                                                        </a>
                                                        <a href="javascript:void(0)">
                                                            <i class="iw-14 ih-14 icon" data-feather="camera"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>