<div class="profile-box">
    <div class="profile-setting">
        <div class="setting-btn refresh">
            <a href="#" class="d-flex">
                <i class="icon icon-theme stroke-width-3 iw-11 ih-11" data-feather="rotate-cw"></i>
            </a>
        </div>
        <div class="setting-btn setting setting-dropdown">
            <div class="btn-group custom-dropdown arrow-none dropdown-sm">
                <a href="#" class="d-flex" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="icon icon-theme stroke-width-3 iw-11 ih-11" data-feather="sun"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right custom-dropdown">
                    <ul>
                        <li>
                            <a href=""><i class="icon-font-light iw-16 ih-16" data-feather="edit"></i>edit profile</a>
                        </li>
                        <li>
                            <a href=""><i class="icon-font-light iw-16 ih-16" data-feather="user"></i>view profile</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="profile-content">
        <a href="profile.html" class="image-section">
            <div class="profile-img">
                <div>
                    <img src="/assets/images/story/8.jpg" class="img-fluid blur-up lazyload bg-img" alt="profile">
                </div>
                <span class="stats">
                    <img src="/assets/images/icon/verified.png" class="img-fluid blur-up lazyload" alt="verified">
                </span>
            </div>
        </a>
        <div class="profile-detail">
            <a href="profile.html">
                <h2>kelin jasen <span>❤</span></h2>
            </a>
            <h5>kelin.jasen156</h5>
            <div class="description">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
            </div>
            <div class="counter-stats">
                <ul id="counter">
                    <li>
                        <h3 class="counter-value" data-count="546">0</h3>
                        <h5>following</h5>
                    </li>
                    <li>
                        <h3 class="counter-value" data-count="26335">0</h3>
                        <h5>likes</h5>
                    </li>
                    <li>
                        <h3 class="counter-value" data-count="6845">0</h3>
                        <h5>followers</h5>
                    </li>
                </ul>
            </div>
            <a href="#" class="btn btn-solid">view profile</a>
        </div>
    </div>
</div>